.footer {
  background-color: #f2f6fa;
  margin-top: $tablet-margin;
  color: $white;
  overflow: hidden;

  @include on-tablet {
    margin: 0;
    background-color: $white;
  }

  &__container {
    background-color: $d-gray;
    border-radius: $border-radius $border-radius 0 0;
    padding: $big-padding 0 $huge-padding 0;

    @include on-tablet {
      padding: 180px 0 $huge-padding;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    gap: $huge-padding;

    @include on-small-desktop {
      grid-template-columns: 1fr 1fr;
      gap: 98px;
      align-items: start;
    }
  }

  &__title {
    margin: 0;
    font-family: $poppins;
    font-weight: $bold-fw;
    font-size: $medium-fs;
    line-height: $medium-up-lh;
  }

  &__bottom {
    margin-top: $huge-padding;
    display: grid;
    grid-template-columns: 1fr;
    gap: $block-gap;
    align-items: start;

    @include on-tablet {
      gap: $base-gap;
      margin-top: 140px;
    }

    @include on-small-desktop {
      grid-template-columns: 1fr auto;
      margin-top: 108px;
      align-items: center;
    }
  }

  &__logo {
    width: $logo-w;
    height: $logo-h;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $base-gap;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include on-small-desktop {
      gap: $huge-gap;
    }
  }

  &__link {
    position: relative;
    display: block;
    font-family: $poppins;
    font-weight: $bold;
    font-size: $small-fs;
    line-height: $big-lh;
    letter-spacing: $minimal-spacing;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: all $duration ease;

    &:hover {
      color: $l-blue;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      width: 100%;
      height: $minimal-spacing;
      background-color: $blue;
      transition: transform $duration ease;
      transform: scale(0);
      transform-origin: right;
      border-radius: $min-border-radius;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}

.footer-form {
  margin-top: $block-gap;
  display: grid;
  gap: 40px;
  max-width: $tablet-block-w;

  @include on-small-desktop {
    max-width: 460px;
  }

  &__textarea {
    padding: 0;
    resize: none;
  }

  &__input,
  &__textarea {
    width: 100%;
    background: transparent;
    color: $white;
    font-family: $poppins;
    font-weight: $bold-fw;
    font-size: $small-fs;
    line-height: 100%;
    border: 0;
    border-bottom: 1px solid $white;
    outline: 0;
    padding-bottom: $small-gap;

    &:focus {
      border-bottom-color: $l-blue;
    }
  }

  &__button {
    font-family: $poppins;
    font-weight: $bold-fw;
    font-size: $small-fs;
    border-radius: $small-border-radius;
    border: none;
    outline: none;
    width: $medium-w;
    height: $big-button-h;
    background-color: $blue;
    color: $white;
    transition:
      transform $duration ease,
      box-shadow $duration ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: $btn-shadow;
    }

    &:active {
      transform: translateY(0);
      box-shadow: $btn-active-shadow;
    }

    @include on-tablet {
      width: $tablet-button-w;
    }
  }
}

.footer-contact {
  margin-top: $big-gap;
  display: grid;
  gap: $block-gap;

  &__item {
    display: grid;
    gap: $min-gap;
  }

  &__sign {
    font-family: $poppins;
    color: $l-gray;
    font-weight: $bold;
    font-size: $small-fs;
    line-height: 100%;
    letter-spacing: $minimal-spacing;
    text-transform: uppercase;
  }

  &__value {
    font-family: $opensans;
    color: $white;
    font-weight: $bold-fw;
    font-size: $regular-fs;
    line-height: $big-lh;
    text-decoration: none;
  }

  &__socials {
    list-style: none;
    padding: 0;
    margin: $min-gap 0 0 0;
    display: flex;
    gap: $medium-gap;
  }

  &__social {
    width: $mid-button-w;
    height: $mid-button-w;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-link {
    width: $small-size;
    height: $small-size;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all $duration ease;

    &:hover {
      transform: scale(1.2);
    }

    &--facebook {
      background-image: url(../images/socials/facebook.png);
    }
    &--instagram {
      background-image: url(../images/socials/instagram.png);
    }
    &--twitter {
      background-image: url(../images/socials/twitter.png);
    }
  }
}
