.services {
  margin-top: 192px;
  padding-bottom: 120px;

  &__inner {
    display: flex;
    flex-direction: column;
    font-family: $poppins;

    @include on-small-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }
  }

  &__info {
    max-width: 266px;

    @include on-small-desktop {
      max-width: 294px;
    }

    @include on-desktop {
      max-width: 364px;
    }
  }

  &__overline {
    margin: 0;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: $small-fs;
    line-height: 100%;
    letter-spacing: $minimal-spacing;
    color: $l-gray;
  }

  &__title {
    margin: $small-gap 0 0 0;
    font-weight: $bold-fw;
    font-size: $medium-fs;
    line-height: $medium-up-lh;
    color: $d-blue;
  }

  &__text {
    margin: $base-gap 0 0 0;
    font-family: $opensans;
    font-weight: $regular-fw;
    font-size: $base-fs;
    line-height: $big-lh;
    color: $gray;
  }

  &__items {
    margin: $block-gap 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: $base-gap;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @include on-tablet {
    padding-bottom: $tablet-big-padding;
  }
}

.item {
  background: $white;
  border-radius: $small-radius;
  padding: $medium-gap;
  box-shadow: 0 9px 18px $black;
  outline: 2px solid transparent;
  outline-offset: 0;
  transform: translateY(0);
  transition: transform $duration ease;

  &:hover {
    cursor: pointer;
    outline-color: $l-blue;
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $logo-w;
    height: $small-size;
    background-color: $c-gray;
    border-radius: 23px;
    font-weight: $bold-fw;
    font-size: $small-fs;
    color: $blue;
  }

  &__text {
    margin: 0;
    font-family: $opensans;
    font-weight: $bold-fw;
    font-size: $small-fs;
    line-height: $big-lh;
    color: $gray;
  }

  p:first-of-type {
    margin-top: $base-gap;
  }

  &__link {
    margin-top: $medium-gap;
    font-family: $poppins;
    display: inline-flex;
    align-items: center;
    gap: $small-gap;
    color: $ld-blue;
    font-weight: $bold-fw;
    font-size: $small-fs;
    line-height: 100%;
    text-decoration: none;
    transition: transform $duration ease;

    &:hover {
      transform: scale($scale);
      color: $l-blue;
    }
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      width: $arrow-size;
      height: $arrow-size;
      background-image: url(../images/arrow-right.png);
    }
  }
}

@include on-tablet {
  .services__items .item:nth-child(2),
  .services__items .item:nth-child(4) {
    transform: translateY(-50%);
    &:hover {
      transform: translateY(-50%);
      outline-color: $l-blue;
    }
  }
}
