$c-gray: #f2f6fa;
$l-gray: #c0cdd7;
$gray: #6c788b;
$d-gray: #2c2c2c;
$white: #fff;
$blue: #2060f6;
$l-blue: #144ed4;
$d-blue: #253757;
$ld-blue: #334563;
$black: #25293108;
$poppins: Poppins, Arial, Helvetica, sans-serif;
$opensans: 'Open Sans', Arial, Helvetica, sans-serif;
$border-radius: 30px;
$small-border-radius: 8px;
$min-border-radius: 2px;
$small-radius: 16px;
$header-height: 85px;
$header-padding: 21px;
$medium-padding: 41px;
$medium-up-padding: 50px;
$medium-up-side-padding: 55px;
$big-padding: 72px;
$huge-padding: 80px;
$tablet-padding: 128px;
$tablet-big-padding: 148px;
$tablet-huge-padding: 200px;
$on-design-padding: 228px;
$on-large-screen-padding: 707px;
$tablet-block-w: 362px;
$tablet-margin: 120px;
$block-gap: 48px;
$big-gap: 56px;
$huge-gap: 64px;
$medium-gap: 32px;
$base-gap: 24px;
$small-gap: 16px;
$min-gap: 8px;
$bold-fw: 600;
$regular-fw: 400;
$small-fs: 15px;
$base-fs: 14px;
$base-up-fs: 22px;
$regular-fs: 24px;
$big-fs: 52px;
$medium-up-fs: 44px;
$medium-fs: 32px;
$small-fs: 13px;
$small-size: 24px;
$medium-lh: 120%;
$medium-up-lh: 130%;
$middle-lh: 140%;
$big-lh: 150%;
$arrow-size: 16px;
$mid-button-w: 32px;
$tablet-button-w: 264px;
$medium-w: 280px;
$button-h: 50px;
$big-button-h: 56px;
$duration: 0.3s;
$bold: 700;
$minimal-spacing: 3px;
$btn-shadow: 0 18px 34px rgba(31, 92, 255, 0.3);
$btn-active-shadow: 0 12px $small-size rgba(31, 92, 255, 0.2);
$scale: 1.03;
$card-size: 166px;
$icon-size: 40px;
$tstmnls-block-size: 196px;
$tstmnls-block-padding: 148px;
$logo-w: 46px;
$logo-h: 28px;
$desktop-bg-size: 1300px;
